<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
<!-- layout Content -->
<th:block layout:fragment="content">
    <div class="container">
        <h1>회원가입</h1>
        <form action="/member/signup" th:object="${member}" method="post">
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

            <input type="text" th:field="*{email}" placeholder="아이디입력" />
            <input type="password" th:field="*{pwd}" placeholder="비밀번호" />
            <button type="submit">로그인</button>
        </form>
    </div>
</th:block>
</html>
